/* TAG SELECTORS */

h1 {
    color:red;
    font-size:200px;
}

img{
    background-color: red;
}

img:hover{
    background-color:aqua;
}

/* CLASS SELECTORS */
.bacon{
    background-color: green;
}

.broccoli{
    background-color: red;
}

.whatever{
    width: 600px;
}

.circular{
    border-radius: 50%;
}


/* ID selectors */
#heading{
    color:blue;
}