body{
    background-color:blueviolet;

}

div{
    height: 100px;
    background-color: #E4F9F5;
}


.top-container{

    background-color: #E4F9F5;
    width: 200px;
    height: 200px;
    margin: 0;
    border:solid 10px black;
    padding:10px;
}

.middle-container{
    background-color: red;
    width: 200px;
    height: 200px;
    border:solid 20px black;
    margin-left: 230px;
}


.bottom-container{
    background-color: blue;
    width: 200px;
    height: 200px;
    border:solid 10px black;
}